.dashboard {
    padding: 0 $unit * 2;

    &__header {
        display: flex;
        justify-content: space-between;

        &--title {
            display: flex;
            align-items: center;

            & img {
                margin-right: $unit;
                padding: $unit * .5 $unit;
                background-color: $blue;
                border-radius: 0 0 $border-radius $border-radius;
            }

            & h1 {
                margin: 0;
                color: $white;
            }
        }

        &--aside {
            display: flex;
            align-items: center;
        }
    }

    &__article {
        margin: $unit * 2 0;
        padding: $unit * 2;
        background-color: $gray-01;
        border-radius: $border-radius;
    }
}
