// ----------------------------------------------------------------
// Variables
// ----------------------------------------------------------------


// Color system
// ----------------------------------------------------------------

$white: #fff;
$black: #0E1419;
$blue:  #0347A7;
$blue-dark: #1C1E48;
$cyan: #00D5FF;
$error: #AF0D0D;
$gray-01: #C6D0E0;
$gray-02: #F1F4F8;


// Measures
// ----------------------------------------------------------------

$unit: 1rem;


// Decorations
// ----------------------------------------------------------------

$border-radius: $unit * .4;
