@import '../../scss/generals/variables';

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $black, $alpha: .7);

    &__close {
        position: absolute;
        top: $unit;
        right: $unit;
        font-size: $unit * 1.2;
    }

    &__content {
        position: relative;
        width: 500px;
        max-width: 90%;
        padding: $unit * 2;
        background: $white;
        border-radius: $border-radius;

        & p:last-child {
            margin-bottom: 0;
        }

        & button:last-child {
            margin-top: $unit;
        }
    }
}
